* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
ul{list-style:none}
body {
padding: 0px;
margin: 0px;
width: 100%;
height: auto;
background:linear-gradient(rgba(0, 8, 31, 0.9), rgba(0, 8, 31, 0.9)),
url("traveller\ 2.jpg") no-repeat fixed;
background-size: cover;
background-position: center;

font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


a {
text-decoration: none;
outline: none;
color: inherit;
}



.header .container {
display: flex;
justify-content: space-between;
align-items: center;
}

.header {
padding-block: 15px;
position: absolute;
top: 0;
left: 0;
width: 100%;
z-index: 4;
}

.header.active {
    height:75px;
position: fixed;
background-color: grey;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 0px 0px rgba(0, 0, 0, 0.22);
animation: slideIn 500ms ease forwards;
}


.navigation {
display: flex;
align-items: center;
justify-content: space-between;
padding: 12px 90px;
margin: auto;
max-width: 1400px;
width: 100%;
}
.navigation .menu-icon {
cursor: pointer;
float: left;
padding: 20px 10px;
z-index: 103;
position: fixed;
left: 280px;
top: 25px;
background-color: white;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;
}
.navigation .menu-icon .nav-icon {
background-color: black;
display: block;
height: 2px;
width: 25px;
position: relative;
transition: background 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after {
background-color: black;
width: 100%;
height: 100%;
content: "";
display: block;
position: absolute;
transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before {
top: 8px;
}
.navigation .menu-icon .nav-icon::after {
top: -8px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon {
background: white;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::before {
transform: rotate(-45deg);
top: 0px;
}
.navigation .menu-btn:checked ~ .menu-icon .nav-icon::after {
transform: rotate(45deg);
top: 0px;
}
.menu-btn {
display: none;
}

.menu {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
background-color: #111111f1;
z-index: 102;
justify-content: center;
align-items: center;
display: none;
animation: fade 0.3s;
}
.slider {
color: red;
text-transform: capitalise;
font-size: 25px;
font-weight: bold;
letter-spacing: 1px;
position: relative;
left: 5px;
top: 20px;
}
.menu li a {
position: relative;
color: white;
margin: 5px 4px;
font-size: 20px;
transition: all ease 0.3s;
left: 10px;
line-height: 70px;
}
.menu li a:hover {
font-size: 30px;
color: red;
transition: all ease 0.3s;
}
.navigation .menu-btn:checked ~ .menu {
display: inline-block;
}

.logo {
color: red;
text-transform: capitalize;
font-size: 25px;
font-weight: bold;
margin: 0px auto 0px 0px;
letter-spacing: 1px;
justify-content: space-between;
position: absolute;
left: 5px;
top:20px
}
.logo-span {
position: absolute;
top: 55px;
left: 5px;
color: orange;
font-weight: bold;
font-size: 12px;
}


.holder{
margin-block-start: 89px;
width:300px;
text-align: center;
margin-left: 25px;
color:beige
}

.holder .para{
font-size: 18px;   
}

.news{margin-block-end: -20px;
width:330px;
margin-left: 17px;
backdrop-filter: blur(30px); 
margin-block-start: 53px; 
word-wrap: break-word;
border-radius: 25px; 
height: max-content;
padding:10px;
color:skyblue;
border:1px solid lawngreen;

}

.big{
border:1px solid lawngreen;
margin-block-end: -20px;
width:330px;
margin-left: 17px;
backdrop-filter: blur(300px); 
margin-block-start: 53px; 
height:460px;
border-radius: 25px; 
padding:10px;
color:skyblue 
}

.news .content{text-align: center;
  word-wrap: break-word;
  }

.img{margin-top: 17px;
width:300px;
height:240px;
border-radius: 10px;    
}

.read-more{color:aquamarine;
position:inherit;
left:90px;
font-size: 19px;
}

.small-read-more{color:aquamarine;
position:relative;
left:90px;
font-size: 19px;
top:25px
}

.btn{margin-block-start: 20px;
margin-block-end: 40px;
width:300px;
position:relative;
top:34px;
left:50px;
display: flex;
gap: 30px;
}



.next{    
font-size: 25px;
font-weight: bold;
color:orange
}


.footer{
margin-left: 5px;
}

.footer-top {

display: grid;
gap: 40px;
padding-block: 60px;
}
.footer .logo img {
width: 180px;
}

.footer .logo{
margin-left: -5px;
}

.footer-brand .footer-text {
margin-block: 20px;
color:honeydew;
width: auto;
}
.social-list {
display: flex;
align-items: center;
gap: 10px;
}
.social-link {
color: #b9c7a3;
font-size: 2rem;
padding: 10px;
}
.footer-list-title {
color:cyan;
font-size: 20px;
font-weight: bold;
margin-block-end: 15px;
}
.footer-link {
margin-block-start: 40px;
color:antiquewhite
}
.footer-link :hover {
text-decoration: underline;
}
.footer-list .footer-lists .footer-text {
margin-block-end: 15px;
}
.input-field {
width: 280px;
height: 55px;
padding-inline: 25px 60px;
border: 1px solid black;
background-color: grey;
border-radius: 20px;
color: black;
font-size: 20px;
outline: none;
}
.input-wrapper {
position: relative;
}
.input-field:focus {
border-color: #6edbff;
}

.input-btn ion-icon {
transform: translateX(-2px) rotate(45deg);
}
.w-100 {
border-radius: 50%;
}
.footer-bottom {
padding-block: 30px;
border-block-start: 1px solid #5aff21;
width:auto
}
.copyright {
color: antiquewhite;
width:350px;
margin-block-end: 20px;
}
.copyright-link {
color: red;
display: inline-block;
font-style: italic;
font-weight: bold;
}

.footer-brand .logo{
position: relative;
top:10px
}

.footer-brand{
margin-block-start: -40px;
padding-block:20px ;
border-block-start: 1px solid #5aff21;
width:auto;
}

.footer-bottom-link{
color: antiquewhite;
}


@media (min-width:540px){



.navigation .menu-icon{left:440px}

.holder{position:relative;
left:70px;
}

.menu li{
padding-block-start: 3px;
}

.small-read-more{
  left:250px
}

.read-more{
left:250px
}

.img{
width:380px
}

.news, .big{margin-left: 60px;
width:400px}

.next{position:relative;
left:120px}

.footer-bottom{
width: auto;
}

.footer-brand{
width: auto;
}

}

@media (min-width:768px){



.navigation .menu-icon{left:640px}

.holder{position:relative;
left:75px;
font-size: 20px;
width:500px
}

.holder .para{
font-size: 20px;
}

.menu li{
padding-block-start: 3px;
}



.read-more{
left:250px
}

.img{position:relative;
left:9px;
width:380px
}

.news, .big{margin-left: 150px;
width:430px}

.next{position:relative;
left:320px;

}

.btn{
  gap:40px;
  margin-left: -120px;
}

.footer-bottom {
padding-block: 30px;
border-block-start: 1px solid #5aff21;
width:auto
}

.footer-brand{

padding-block:20px ;
border-block-start: 1px solid #5aff21;
width:750px;
}

.footer .container{
position: relative;
left:px
}
.footer-top{
grid-template-columns: 1fr 1fr;
gap:0px
}

.footer-lists{
position: relative;
top:45px
}

.footer-list{
margin-left: -200px;
margin-top: 10px;
margin-block-end: -80px;
}

.footer-brand .footer-text{
width:250px
}

.footer-bottom{
display: flex;
justify-content: space-between;
align-items: center;
}

.footer-bottom-list{
display: flex;
gap:100px
}

.footer{
margin-left: 4px;
}

}

@media(min-width:912px){

.holder{
margin-left: 115px;
}

.newsbody{
display: grid;
grid-template-columns: 1fr 1fr;
gap:0px;
margin-left: -30px;

}

.img{
width:350px
}

.news{
width:400px;
margin-left: 60px;
}

.big{
width:400px;
margin-left: 60px;
}

.footer{
margin-left: 4px;
}

.footer-brand{
width:870px
}

.footer-bottom{
width:auto
}
.footer-link{
    margin-block-start: 15px;
    font-size:16px
}
}

@media (min-width:1000px){

.navigation .menu-icon{display:none}

.navigation, .menu{all:unset;
list-style: none;
}

.logo-span{top:50px;
font-size: 15px;}

.menu .topic{display:flex;
margin-inline-start: 0;
margin-inline: auto;
position: relative;
gap:5px;
left:300px;
bottom:130px}

.menu li a {font-size: 25px;}



.holder{position:relative;
left:140px;
}

.slider{display:none}

.menu .logo-span{display: none;}

.menu li{
padding-block-start: 3px;
}

.small-read-more{
  left:220px
}

.read-more{
left:220px;
top:25px
}

.img{
width:350px
}

.newsbody{display: grid;
grid-template-columns: 1fr 1fr;
margin-block-start: 20px;
margin-left: 30px;}

.news, .big{margin-left: 30px;
width:390px}

.big .read-more{
  top:-5px
}

.next{position:relative;
left:230px}

.footer-brand{
width: 980px;
}
.btn{
  margin-left: 70px;
}
.footer-bottom{
width: 100%;
}




}

@media(min-width:1100px){

.logo{color:red}

.newsbody{margin-left: 70px;
gap:29px}

.menu .topic{left:350px}

.next{
left:300px
}

.holder{
left:250px
}

}

@media (min-width:1200px){


.menu .topic{left:400px
}

.holder{left:290px
}

.newsbody{
margin-left: -20px;
grid-template-columns: 1fr 1fr 1fr;
gap:2px
}

.read-more{
right:20px
}

.small-read-more{
  right:10px
}

.footer-bottom {
padding-block: 30px;
border-block-start: 1px solid #5aff21;
width:auto
}

.footer-brand{
padding-block:20px ;
border-block-start: 1px solid #5aff21;
width:1220px;
}

.footer-top{
grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr;
gap:100px;
width:100px

}

.footer-list{
margin-top: 1px;
margin-left: -850px;
width:300px
}

.footer-lists{
margin-top: -45px;
margin-left:-490px;
width:200px
}



}


@media (min-width:1300px){

.logo{color:red}

.menu .topic{left:450px}

.newsbody{margin-left: -15px;}

.holder{left:300px;
top:10px}

.img{
  margin-left: -5px;
  
}

.next{left:430px}

.footer{
margin-left: 4px;
}

.footer-bottom {
padding-block: 30px;
border-block-start: 1px solid #5aff21;
width:auto
}

.footer-brand{
padding-block:20px ;
border-block-start: 1px solid #5aff21;
width:1250px;
}

.footer-top{
grid-template-columns: 1fr 0.5fr 0.6fr 0.6fr 1fr;
gap:100px;
width:100px

}

.footer-list{
margin-top: 1px;
margin-left: -850px;
width:300px
}

.footer-lists{
margin-top: -45px;
margin-left:-490px;
width:200px
}


}

